body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.form-group {
    margin-bottom: 15px;
}

.container {
    background-color: #f1f1f1;
    border-radius: 5px; 
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

label {
    margin-bottom: 5px;
    display: block;
}

button[type="submit"] {
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}